.image_section1 {
    display: flex;
    width: 100%;
    gap: 315px;
    justify-content: center;
}

.image_section1 .img2 {
    width: 640px;
    height: 662px;
    object-fit: cover;
}

.image_section1 .img3 {
    width: 325px;
    height: 331px;
    object-fit: cover;
}

.image_section2 {
    display: flex;
    justify-content: center;
    padding: 144px 0 112px 0;
}

.image_section2 .img4 {
    width: 1280px;
    height: 662px;
    object-fit: cover;
}

.image_section3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image_section3 .img5 {
    width: 315px;
    height: 325px;
    object-fit: cover;
}

.image_section3-title {
    width: 640px; 
    font-size: 24px; 
    font-weight: 400; 
    text-align: left;
}

.image_section3-button {
    display: inline-block;
    width: 139px;
    height: 36px;
    background-color: #273026;
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Geist', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 20px;
    margin-bottom: 112px;
    text-align: center;
    box-sizing: border-box;
    line-height: 34px;
}




